<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logging" xsi:type="File" fileName="log.json">
			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="time" layout="${longdate}" />
				<attribute name="userid" layout="${scopeproperty:userid}" />				
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception}" />
			</layout>			
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logging" />
		<logger name="*" minlevel="Debug" writeTo="logging" />
		<logger name="*" minlevel="Error" writeTo="logging" />
	</rules>
</nlog>